
.help-title
    .w-container.help
        ul.help-path
            a#fastMenu
        p#mmstitle MSS系统-合同制员工年休假补贴报账指引
        img(id='mmslogo' src='./content/images/logo.png')
.w-container.help
    .help-contents
        #help_content.help-content
            include help-contents/help-content
    include ../template/footer
